In [1]:
import pandas as pd

In [18]:
# The sample dataframe.
data = pd.DataFrame([['Company A', 'NY', 100, 1000],
                    ['Company B', 'NY', 90, 900],
                    ['Company B', 'DE', 5, 50],
                    ['Company C', 'NY', 1, 10],
                    ['Company C', 'DE', 10, 100],
                    ['Company C', 'MD', 200, 2000]],
                    columns=['Company Name', 'Location', 'Qty Sold', 'Turnover'])

print(data)

  Company Name Location  Qty Sold  Turnover
0    Company A       NY       100      1000
1    Company B       NY        90       900
2    Company B       DE         5        50
3    Company C       NY         1        10
4    Company C       DE        10       100
5    Company C       MD       200      2000

In [19]:
# I like how the data is naturally grouped by company name once I set the index.
data.set_index(['Company Name', 'Location'])

                       Qty Sold  Turnover
Company Name Location
Company A    NY             100      1000
Company B    NY              90       900
             DE               5        50
Company C    NY               1        10
             DE              10       100
             MD             200      2000

In [11]:
# The following is the order that the final dataframe should follow. I want to 
# keep the natural grouping by company name and add a subtotal for each grouping and a final grand total 
# at the bottom.
# Finally I want to sort the natural company name groupings by their subtotals.
final_result = pd.DataFrame([['Company C', 'MD', 200, 2000],
                            ['Company C', 'DE', 10, 100],
                            ['Company C Total', '', 211, 2110],
                            ['Company A', 'NY', 100, 1000],
                            ['Company A Total', '', 100, 1000],
                            ['Company B', 'NY', 90, 900],
                            ['Company B', 'DE', 5, 50],
                            ['Company B Total', '', 95, 950],
                            ['Grand Total', '', 406, 4060]],
                           columns=['Company Name', 'Location', 'Qty Sold', 'Turnover'])
print(final_result)

      Company Name Location  Qty Sold  Turnover
0        Company C       MD       200      2000
1        Company C       DE        10       100
2  Company C Total                211      2110
3        Company A       NY       100      1000
4  Company A Total                100      1000
5        Company B       NY        90       900
6        Company B       DE         5        50
7  Company B Total                 95       950
8      Grand Total                406      4060

In [20]:
# Whenever I try to sort the data by turnover I get the following.
data.set_index(['Company Name', 'Location']).sort_values('Turnover', ascending=False)

# As you can see, the natural grouping by company name is destroyed.
# I want to keep the company name grouping, while sorting by which company has
# the highest turnover.

# Sorting by location within the company name grouping is no big deal, as long as
# the subtotal for each company is at the bottom of each grouping.

                       Qty Sold  Turnover
Company Name Location
Company C    MD             200      2000
Company A    NY             100      1000
Company B    NY              90       900
Company C    DE              10       100
Company B    DE               5        50
Company C    NY               1        10